/*
COLOR PALETTE
https://coolors.co/ffbe0b-fb5607-ff006e-8338ec-3a86ff
yellow: #ffbe0b
orange: #ff5607
pink: #ff006e
purple: #8338ec
blue: #3a86ff
green: #2ec4b6
lilac: #bdb2ff;
orange: #fa9500;
*/

/*Global styles
-----------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
   color: #3a86ff;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
   font-style: italic;
   font-size: 15px;
   line-height: 1.5;
 }
img {
  width: 400px;
}
h1 {
  font-size: 100px;
  line-height: 1.5;
}
h2 {
     font-size: 45px;
}
h1, h2 {
font-family: 'Dancing Script', cursive;
margin: 0;
font-style: normal;
}

.content-wrap {
  max-width: 800px;
width: 70%;
  margin: 0 auto;
  padding: 60px 0;

}
h3 {
margin-bottom: 0;

}
h4 {
  margin-top: 0;
  font-style: normal;
  font-weight: lighter;
}
/* PROFILE
-----------------------------------*/
header {
    background-color: #ffbe0b;

}

/*High school history
-----------------------------------*/
.History {
  background-color: #c0fdfb;
  background-image: url(../image/download.jpg);


  color: white;
}




/*Activities
-----------------------------------*/
.Activities {
      background-color: #A9EFCE;
      background-image: url(../image/no.jpg);
      background-size: cover;
      background-position: center bottom left;
  color: #64dfdf;
}
.camping {
       display: inline-block;

}
.camping img {
      width: 380px;
      height: 300px;
}
.hoitraitruyenthong, .unity {
      display: inline-block;
}
.hoitraitruyenthong img {
  width: 380px;
  height: 300px;
}
.unity img {
  width: 380px;
  height: 300px;
}
.activites-item {
  overflow: hidden;
  border-bottom: 1px dashed #affc41;
  padding: 25px 0;
}


.activites-item h3 {
  font-style: normal;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
  text-align: center;
  margin-top: 0px;
  color: #affc41;
  font-weight: 900;
  margin-bottom: 15px;
}
.activites-items {
  margin-top: 25px;

}
.sixactivites-items {
  border-bottom: 1px dashed #affc41;
}

/*Videos
-----------------------------------*/
.Videos {
      background-color: #fa9500;
      background-image: url(../image/luca-upper-Z-4kOr93RCI-unsplash.jpg);
      background-size: cover;
      background-position: top left;
      color: #02044F;
}
 .Shinevideos h3 {
  font-style: normal;
  margin-bottom: 13px;
  font-size: 20px;
  text-decoration: underline;

}
.Shinevideos video {
  width: 100%    !important;
  height: auto   !important;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*Ending
-----------------------------------*/
footer {
  background-color: #e9ff70;

}
.contact-list {
  list-style-type: none;
  padding: 0;


}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/*Resposive
-----------------------------------*/
@media screen and (min-width:750px) {
  header, footer {
    text-align: center;
  }
  .activites-item img {
    float: left;
    margin-right: 20px;
  }

  .history-item {
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  margin: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width:749px) {
  h1 {
    font-size: 75px;
  }
  h1, h2 {
    line-height: 1,5;
  }
  .contact-list a {
    padding: 5px;
  }
}
